body {
    background-color: lightgray;
    font-family: 'EB Garamond', serif;
}

#contenedorPresentacion {
    width: 100%;
    height: 100vh;
    background-image: url("/imgs/MiguelAgelFoto.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    position: relative;

}

h1 {
    margin: 0;
    font-size: 3.5rem;
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

}

h3 {
    font-size: 2rem; /* Tamaño de fuente grande */
    font-weight: 600; /* Peso de la fuente más fuerte */
    color: #343a40; /* Color oscuro que combina con el tema de Bootstrap */
    margin-top: 30px; /* Espacio superior para separarlo de otros elementos */
    margin-bottom: 20px; /* Espacio inferior */
    text-align: left; /* Alineación a la izquierda para hacer sinergia con el nav */
    letter-spacing: 1px; /* Espaciado entre letras para mejorar la legibilidad */
    padding-bottom: 5px; /* Espaciado adicional debajo del texto */
  }

p {
    color: black;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 10%;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card {
    width: 100%;
    background-color: #C9A227;
    color: black;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}



